[Unit]
Description=OOM Monitor
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
Environment=RUST_LOG_STYLE=never
Type=simple
PIDFile=/run/oom-monitor.pid
ExecStart=/usr/bin/oom-monitor
Restart=on-failure
